/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto;
    left: 30%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    opacity: 0.3;
  }
  .content h1{
    color: orange;
    font-family: fantasy;
    letter-spacing: 5px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: orangered;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 110%;
    cursor: pointer;
  }
  
  #myBtn:hover{
    background: orange;
    color: white;
  }